@import "adaptr.css";
body,
ul,
dd,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
s {
  text-decoration: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  max-width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
i {
  font-style: inherit;
}
p,
span,
ul,
li,
button,
s,
div,
a {
  font-size: 1rem;
  color: #666666;
  font-family: "PingFangTC-Regular", "Microsoft YaHei ", "SimHei ";
}
.h-header {
  width: 25rem;
  height: 2.33333333rem;
  line-height: 2.33333333rem;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #D7D7D7;
}
.h-header div {
  flex: 1;
  color: #737373;
  text-align: center;
}
.h-header div .iconfont {
  font-weight: 600;
}
.h-header .h-lhead {
  text-indent: 0.16666667rem;
}
.h-header .h-chead {
  text-align: center;
  text-indent: 0.5rem;
}
.h-title {
  width: 22.53333333rem;
  height: 2.16666667rem;
  line-height: 2.16666667rem;
  border-bottom: 1px solid #eeeeee;
  margin: 0 auto;
  color: #222222;
  padding-top: 0.66666667rem;
  position: relative;
}
.h-split {
  width: 100%;
  height: 0.33333333rem;
  background-color: #f1f3f6;
}
.h-chara {
  width: 20.46666667rem;
  margin: 0 auto;
  height: 1rem;
  line-height: 1rem;
  display: flex;
}
.h-chara div {
  flex: 1;
  height: 1rem;
  line-height: 1rem;
  text-indent: 0.16666667rem;
}
.h-chara div span {
  display: block;
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.13333333rem;
  margin-left: 0.06666667rem;
  border-radius: 0.13333333rem;
}
.h-chara .h-lchar span {
  background-color: #E66440;
}
.h-chara .h-rchar span {
  background-color: #3C424F;
}
.h-chara .h-rmarkpoin span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.06666667rem;
  background-color: #3C424F;
  border-radius: 68% 68% 0% 68%;
  transform: rotate(43deg);
}
.h-navs {
  padding-top: 0.33333333rem;
  padding-bottom: 1rem;
  width: 20.53333333rem;
  margin: 0 auto;
  margin-bottom: 0.33333333rem;
}
.h-navs p {
  margin: 1rem 0;
  text-align: center;
}
.h-navs .h-twig {
  width: 20.53333333rem;
  height: 1.83333333rem;
  margin: 0 auto;
  background-color: #F1F3F6;
  border-radius: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.33333333rem;
}
.h-navs .h-twig div {
  height: 1.16666667rem;
  line-height: 1.16666667rem;
  text-align: center;
  color: #ffffff;
  float: left;
}
.h-navs .h-twig .h-ltwig {
  background-color: #E66440;
  border-radius: 0.83333333rem 0 0 0.83333333rem;
}
.h-navs .h-twig .h-ztwig {
  background-color: #3C424F;
}
.h-navs .h-twig .h-rtwig {
  background-color: #e6c1b7;
  border-radius: 0 0.83333333rem 0.83333333rem 0;
}
.h-navs .h-twig .h-llwig {
  background-color: #E66440;
  border-radius: 0.83333333rem 0 0 0.83333333rem;
}
.h-navs .h-twig .h-zlwig {
  background-color: #3C424F;
  border-radius: 0 0.83333333rem 0.83333333rem 0;
}
.h-navs .h-chara {
  width: 20.46666667rem;
  margin: 0 auto;
  margin-top: 0.83333333rem;
  height: 1rem;
  line-height: 1rem;
  display: flex;
}
.h-navs .h-chara div {
  flex: 1;
  height: 1rem;
  line-height: 1rem;
  text-indent: 0.16666667rem;
}
.h-navs .h-chara div span {
  display: block;
  float: left;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.13333333rem;
  margin-left: 0.06666667rem;
  border-radius: 0.13333333rem;
}
.h-navs .h-chara .h-lchar span {
  background-color: #E66440;
}
.h-navs .h-chara .h-zchar span {
  background-color: #3C424F;
}
.h-navs .h-chara .h-rchar span {
  background-color: #e6c1b7;
}
.h-navs .h-chara .h-rmarkpoin span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #3C424F;
  border-radius: 68% 68% 0% 68%;
  transform: rotate(43deg);
}
.h-dropDown {
  width: 25rem;
  position: absolute;
  min-height: 42.66666667rem;
  left: 0;
  top: 2.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 200;
}
.h-dropDown .h-frienDrop {
  width: 25rem;
  background-color: #fff;
  overflow: auto;
  position: absolute;
  z-index: 210;
}
.h-dropDown .h-frienDrop .h-leftDrop {
  width: 7.33333333rem;
  background-color: #f1f3f6;
  float: left;
  padding-bottom: 3.83333333rem;
}
.h-dropDown .h-frienDrop .h-leftDrop p {
  display: block;
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  border-bottom: 1px solid #ecedef;
  text-indent: 1.4rem;
}
.h-dropDown .h-frienDrop .h-rightDrop {
  width: 17.6rem;
  float: left;
  background-color: #fff;
}
.h-dropDown .h-frienDrop .h-rightDrop p {
  display: block;
  height: 2.4rem;
  line-height: 2.4rem;
  width: 15.73333333rem;
  border-bottom: 1px solid #ecedef;
  margin: 0 auto;
  font-size: 0.9rem;
  text-indent: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h-dropDown .h-closedrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 205;
}
.h-dropDown span {
  width: 0.66666667rem;
  position: absolute;
  height: 0.83333333rem;
  top: -0.83333333rem;
  left: 3.26666667rem;
  z-index: 210;
  text-indent: -0.23333333rem;
  background-color: #fff;
}
.leftdropstyle {
  background-color: #fff;
  color: #eb8265;
}
.rightdropstyle {
  color: #eb8265;
  border-color: #f3b2a0;
}
