<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用功规范对比</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../../css/contrastStyle/changeContrastMain.css"/>
    <link rel="stylesheet" href="../../css/contrastStyle/positionChangeContrast.css"/>
    <script src="../../js/common/rem.js"></script>
    <script src="../../js/echarts.min.js"></script>
</head>
<body>
<!--<div class="com_head fgb-color title-color">-->
<!--岗位变动对比-->
<!--</div>-->
<div class="com_center">
    <ul class="contrastList">
        <li class="currentOption">区域对比</li>
        <li>岗位对比</li>
        <li style="border:none;">时间对比</li>
    </ul>
    <div class="addAreaList">
        <div class="whiteBg">
            <ul>

            </ul>
            <div class="btnOk">确定</div>
        </div>
    </div>
    <div class="slide">
        <dl class="slide-dl ">
            <dt>请选择对比维度（多选）</dt>
            <dd>
                <ul class="multiSelect">
                    <li class="addContrast"><span class="addText">添加</span><span class="iconfont icon-xiala"></span></li>
                </ul>
            </dd>
        </dl>
        <div class="splitLine"></div>
        <dl class="slide-dl slide-dl-position">
            <dt>请选择对比维度（单选）</dt>
            <dd>
                <div class="styled-select" id="leftSelect">
                    <i class="currentSelect">装修人员</i>
                    <span class="iconfont icon-xiala"></span>
                </div>
                <div class="styled-select marginLeft" id="rightSelect">
                    <i class="currentSelect">2017.04</i>
                    <span class="iconfont icon-xiala"></span>
                </div>
                <div class="selectAreaList" id="selectLeftArea">
                    <div class="whiteBg">
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="selectAreaList" id="selectRightArea">
                    <div class="whiteBg">
                        <ul>
                        </ul>
                    </div>
                </div>
            </dd>
        </dl>
        <div class="splitModule"></div>
        <div class="ch_columar_title">
            <div class="areaTitle">
                <span class="multiSelectName"></span><span class="currentSingleLeftName"></span><span class="currentSingleRightName"></span>份岗位变动对比
            </div>
            <div class="stationTitle">
                <span class="currentSingleLeftName"></span><span class="multiSelectName"></span><span class="currentSingleRightName"></span>份岗位变动对比
            </div>
            <div class="titleTitle">
                <span class="currentSingleLeftName"></span><span class="currentSingleRightName"></span><span class="multiSelectName"></span>份岗位变动对比
            </div>
        </div>
        <div id ="columar-area"></div>
        <div class="columar-tip">
            <span class="tipImg-abnormal"></span>
            <span class="tip-describe">在岗异常人数</span>
        </div>
        <div class="columar-tip">
            <span class="tipImg-normal"></span>
            <span class="tip-describe">在岗人数</span>
        </div>

    </div>
</div>
<script src="../../js/jquery-2.1.0.min.js"></script>
<script src="../../js/echarts.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/contrast/workStandardContrast.js"></script>
</body>
</html>